.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

.landing-header {
  background-size: cover;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIejpVzB6XZ6sWcu5HtxziI5iCx5FP0RPuOo854XLHgfFNtxOSnbyS85JJ) no-repeat center center;
  color: #f8f8f8;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* General */

.list-inline {
  list-style: none;
}

/* Landing Component */

.landing-header {
  background-size: cover;
  background: black no-repeat center center;
  color: #f8f8f8;
  text-align: center;
}

.landing-divider {
  border: 1px solid #f8f8f8;
  width: 35%;
}
