.nav {
  position: fixed;
  width: 100%;
}

.nav ul {
  float: right;
  margin-right: 2rem;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: black;
  font-size: 1rem;
  padding: 0 1rem;
  text-decoration: none;
}

.nav a:hover {
  background-color: orange;
}

.nav-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .nav {
    margin: auto;
  }

  .nav ul {
    float: none;
  }

  .nav a {
    font-size: 0.8rem;
  }
}
